.my-node-appear {
  opacity: 0;
}
.my-node-appear-active {
  opacity: 1;
  transition: opacity 5000ms;
}
.my-node-appear-done {
  opacity: 1;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 5000ms;
}
.my-node-enter-done {
  opacity: 1;
}


.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 5000ms;
}
.my-node-exit-done {
  opacity: 0;
}